<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>AGE</th>
        <th>WEIGHT</th>
        <th>PASSWORD</th>
    </tr>
    <tr>
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getWeight()}"></td>
        <td th:text="${user.getPassword()}"></td>
    </tr>
</table>
<form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
    <input type="submit" value="delete"/>
</form>
<a th:href="@{/admin/{id}/edit(id=${user.getId()})}">update</a>

</body>
</html>